pip-tools
numpy
pandas
scipy
pymongo
elasticsearch
seaborn
matplotlib
termcolor
tqdm
tables
dask[complete]
graphviz
h5py
numba
numexpr
jsonschema
ipykernel
ipython
colorlover
jupyter
jupyter_contrib_nbextensions
rise
toml
